name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Cache Cypress binary
        uses: actions/cache@v3
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        run: npm install
        working-directory: ./knitting
      
      - name: Run build
        run: npm run build
        working-directory: ./knitting

      - name: Start app
        run: npm run start &
        working-directory: ./knitting

      - name: Wait for server
        run: npx wait-on http://localhost:3000
        working-directory: ./knitting

      - name: Run Cypress tests
        run: npx cypress run --config-file cypress.config.ts
        working-directory: ./knitting
