name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install
        working-directory: ./knitting
      
      - name: Run build
        run: npm run build
        working-directory: ./knitting

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        working-directory: ./knitting
        with:
          start: npm run start
          wait-on: http://localhost:3000
          wait-on-timeout: 60
