name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install
        working-directory: ./knitting
      
      - name: Run build
        run: npm run build
        working-directory: ./knitting

      - name: Start app
        run: npm run start &
        working-directory: ./knitting

      - name: Wait for server
        run: npx wait-on http://localhost:3000
        working-directory: ./knitting

      - name: Run Cypress tests
        run: npx cypress run
        working-directory: ./knitting
